<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.awesomeapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dexter"
        android:label="Dexter's Lab"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RecyclerViewActivity"
            android:label="Dexter's Lab" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Dexter"
            android:label="Dexter's Lab">
        </activity>
        <activity android:name=".DeeDee"
            android:label="Dexter's Lab">
        </activity>
        <activity android:name=".Dad"
            android:label="Dexter's Lab">
        </activity>
        <activity android:name=".Mom"
            android:label="Dexter's Lab">
        </activity>
        <activity android:name=".Mandark"
            android:label="Dexter's Lab">
        </activity>
    </application>

</manifest>
